.main {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 20px;
}

.content {
}

.sidebar {
  padding-right: 20px;
}

.products {
}

.sortingContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.categoriesContainer {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  gap: 20px;
}

.loadMoreButtonContainer {
  margin: 20px 0 40px;
}